@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./components/molecules/RedFooterNav/rednav.css);
@import url(./components/pages/HistoryPage/history.css);
@import url(./components/pages/TheGinuwa/theginuwa.css);
@import url(./components/pages/TraditionalPage/trad.css);
:root {
    /* color */
    --clr-red: rgb(211, 0, 2);
    --clr-white: #fff;
    --clr-black: rgb(33, 37, 41);
    --clr-gray: #f5f5f5;
    --clr-fade-red: #E56667;
    --clr-ash: #F5F5F5;
    /* font-size */
    --fs-link: 12.8px;
}
.relative{position: relative;}
body{
    font-family: 'Roboto', sans-serif
}
.main-section {
    width: 100vw;
    height: 100vh;
    background-image: url(../src/assets/main_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar{
    position: absolute;
    top: 10px;
    z-index: 8;
}
.nav-item:hover>a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid var(--clr-red);
}
.nav-item:hover a{
    color: var(--clr-red);
}
.hero{
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}
.hero-title {
    margin-top: 200px;
    padding: 35px;
    text-align: center;
    width: auto;
    height: 100%;
}

.hero-title h1 {
    color: white;
    font-size: 2.1rem;
    font-weight: bolder;
    z-index: 500;
}

.menu-open-close {
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    background-color: var(--clr-red);
    width: 35px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    z-index: 50;
    cursor: pointer;
    user-select: none;
}

.open-close-icon .fa {
    color: var(--clr-white);
    z-index: 999;
}
.dropdown-menu {
    align-items: flex-end;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    padding: 0 !important;
}

.dropdown-links {
    background-color: var(--clr-white);
    height: 70vh;
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.dropdown-links a {
    font-size: var(--fs-link);
    font-weight: 700;
    text-decoration: none;
    color: var(--clr-black);
    margin-bottom: 30px;
}

.dropdown-links a>div {
    margin-right: 10px;
}

.bar {
    background-color: rgb(201, 199, 199);
    height: 5px;
    border-radius: 3px;
    width: 30%;
    align-self: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.show-drop {
    display: flex;
}
.bg-left {
    /* background-image: url(../../../assets/ginuwa.e4765c1eb1bbf7324286.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.arrow-left{
    cursor: pointer;
}
.loginInput {
     padding: 14px;
     background-color: transparent;
     border: 1px solid rgb(195, 195, 195);
     border-radius: 50px;
     width: 90%;
     text-decoration: none;
     font-size: 0.9rem;
     margin-bottom: 24px;
 }
.loginInput ~ button{
    background-color: var(--clr-red);
    width: 90%;
    border-radius: 50px;
    padding: 14px;
}
.formText{
    font-size: var(--fs-link);
}
.form{
    display: flex;
    padding: 30px 0px;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.page-content{
    width: 95%;
    margin: 10vh auto;
    max-height: 80vh;
    /* border: 1px solid white; */
    
}
.page-content span {
    font-size: 2rem
}
.page-content span:nth-child(3){
    margin-right: 20px;
}
.blogs{
    font-size: 1.2rem;
    font-weight: 700;
}
.page-content input{
    border: 1.5px solid white;
    border-radius: 50px;
    height: 45px;
    color: white;
    padding: 0px 10px;
    font-size: 1rem;
    background: transparent;
    outline: none;
    width: 400px;
}
.page-content input::placeholder{
    color: #fff;
}
.event-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    overflow: auto;
    max-height: 70vh;
    padding-right: 10px;
}
.card{
    background-color: #fff;
    padding: 8px;
}
.page-content header{
    margin-bottom: 20px;
}
.card-bg{
    min-height: 200px;
    border-radius: 10px;
    background-image: url(./assets/main_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.event-container::-webkit-scrollbar {
    width: 5px;
}

.event-container::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #cccaca;
}

.event-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--clr-red);
    display: none;
}

.event-container::-webkit-scrollbar-thumb:hover {
    display: block;
}
.speechesBg{
    background-image: url(../src/assets/ginuwa.e4765c1eb1bbf7324286.png);
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.notice-header{
    background-color: rgb(255, 255, 255);
    padding: 48px 24px 24px;
}
.notice-header h2 {
    font-size: 2rem;
}

.notice-header p {
    font-size: .7rem;
}

.notice-header input {
    border-radius: 50px;
    width: 100%;
    border: 1.5px solid black;
    height: 45px;
    padding: 0px 10px;
    font-size: 1.2rem;
    background: transparent;
    outline: none;
}
.notice-header input::placeholder {
    font-size: .7rem;
}

.arrow-left {
    position: absolute;
    z-index: 500;
    top: 14px;
    width: 28px;
    height: 28px;
}
.notice-container{
    background-color: var(--clr-gray);
    height: 100vh;
}
.notice-title{
    padding: 24px;
    border-radius: 0 0 24px 24px;
    background-color: var(--clr-white);
}
.notice-display{
    height: 75vh;
    padding: 24px;
    overflow-y: auto;
}
.notice-text{
    background-color: #fff;
    padding: 24px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;

}
.notice-text:hover{
    background-color: var(--clr-red);
    color: var(--clr-white);
}
.smallRoyalNotices{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-gray);
    z-index: 900;
}
@media (min-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
    .event-container{
        grid-template-columns: 1fr 1fr;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
    .hrm h1 {
        font-size: 2.2rem;
    }

    .logo {
        display: block;
    }
    .page-content{
        max-width: 960px;
    }

    /* .hamburger{
         display: none;
    } */

    .nav-menu {
        display: block;
    }

    .hero-title {
        padding: 20px;
    }

    .hero-title h1 {
        color: white;
        font-size: 3.5rem;
        font-weight: bold;
        z-index: 500;
    }
    .overlay {
        display: none;
    }

    .overlay.active {
        display: none;
    }


}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
    .nav-one,.smallRoyalNotices {
        display: none;
    }
    .nav-toggle {
        display: none;
    }
    .page-content{
        max-width: 1140px;
    }
    .event-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* X-Large devices (large desktops, less than 1400px) */
@media screen and (min-width: 1400px) {
    .page-content{
        max-width: 1320px;
    }    
}