* {
    box-sizing: border-box;
}

.bg-oba {
    background-image: url(../../../assets/ginuwa.e4765c1eb1bbf7324286.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.ginuwa-container {
    background-color: var(--clr-gray);
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.ginuwa-ruling {
    padding: 48px 24px 24px;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--clr-white);
}
.ginuwa-ruling h2{
    font-size: 2rem;
}
.ginuwa-ruling span {
    font-size: .7rem;
}

.ginuwa-ruling input {
    border-radius: 50px;
    width: 100%;
    border: 1.5px solid black;
    height: 45px;
    padding: 0px 10px;
    font-size: 1.2rem;
    background: transparent;
    outline: none;
}

.ginuwa-ruling input::placeholder {
    font-size: .7rem;
}

.arrow-left {
    position: absolute;
    z-index: 500;
    top: 14px;
    width: 28px;
    height: 28px;


}

.ginuwa-crest {
    padding: 20px 0 !important;
    /* max-height: 65vh; */
}

.crest-card-container {
    overflow-y: auto;
    max-height: 65vh;

}

.crest-card-container::-webkit-scrollbar {
    width: 5px;
}

.crest-card-container::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #cccaca;
}

.crest-card-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--clr-red);
    display: none;
}

.crest-card-container::-webkit-scrollbar-thumb:hover {
    display: block;
}

.arrow-left {
    color: var(--clr-black);
}

.arrow-left img {
    width: 70%;
    height: 70%;
}

.crest-card {
    background-color: var(--clr-white);
    padding: 12px !important;
    margin-bottom: 10px;
    border-radius: 10px;
    /* transition: all 200ms; */
    cursor: pointer;
    align-items: stretch;
}

.mb-10 {
    margin: 0 0 10px 0 !important;
}

.crest-card:hover {
    background-color: var(--clr-red);
    color: var(--clr-white);
}

.p-x-24 {
    padding: 0 24px !important;
}

.sm-dp-profile {
    display: none;
}
.main-dp img{
    width: 140px;
    height: 140px;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .ginuwa-main-dp {
        display: none;
    }

    .sm-dp-profile .ginuwa-crest-display {
        /* display: flex; */
        max-height: 80vh;
        flex-direction: column;
        padding: 24px;

    }

    .sm-dp-profile {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 900;
        top: 0;
        height: 100vh;
        background-color: var(--clr-gray);
        padding: 14px;

    }

    .show-sm-dp {
        display: flex;
    }

    .bk {
        width: 40px;
        height: 40px;
        background-color: #eeeeee;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .ginuwa-container .col-lg-5 {
        display: none;
    }

    .ginuwa-crest {
        align-items: stretch;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}